.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  
  overflow: hidden;
}
.header {
  flex: 0 0 auto;
  width: 100%;
  height: 1.5em;
  font-size: 2em;
  padding: 0.2em;

  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}

.main-container {
  display: flex;
  flex-flow: row nowrap;

  flex: 1 1 auto;
  width: 100%;
  height: auto;
}

.side {
  flex: 0 0 100px;
  width: auto;
  height: auto;
  
  overflow: hidden scroll;
}

.main-container-2 {
  display: flex;
  flex-flow: column nowrap;

  flex: 1 1 auto;
  width: 100%;
  height: auto;
}
.main {
  flex: 1 1 auto;
  width: auto;
  height: 0px;
}
.footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  
  overflow: scroll hidden;
}



/* side */
.side-element {
  position: absolute;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.side-element:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
