
.main {
  background-color: var(--dark-darker);
}

/* main (navigation) */
.main-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  min-height: 10em;
  padding: 5em 3em;
  text-align: center;

  border-bottom: 1px solid var(--nice-border-color);

  padding: 2em 1em;
  margin: 0 5%;

  font-size: 0.8em;
  color: var(--nice-text-color);
}
.nav-container {
  flex: 1 1 auto;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;

}
.nav-block {
  display: flex;
  flex-flow: column;

  padding: 2em 3em;
}
.logo-block {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 1em 6em;

  font-size: 1.5em;
}


/* bottom */
.bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;

  min-height: 1em;
  padding: 2em;

  color: var(--gray-color);

  font-size: 0.7em;
}
.bottom > div > span {
  margin-left: 1em;
}
.bottom > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


@media (max-width: 800px) {
  .nav-block {
    padding: 1em 1em;
  }
}
