.rapper{
    position: relative;
    top: 55px
}


.body {
    font-family: 'arial black,Yu Gothic';
    background-color: #f2f7ff;
    color: #ffe867;
    font-size: 20px;
    width: 100%;
}
/*  header */
.header {
    color: #f2f7ff;
    background-color: #1abc9c;
    text-align: center;
    padding: 50px;
}
.header_title {
    font-size: 70px;
}
.m {
    font-size: 100px;
}
.p {
    font-size: 100px;
}
.header_sub_title {
    font-size: 30px;
    padding-bottom: 30px;
}

/*  main */
.main {
    text-align: center;
}
.main_title {
    color: #f2f7ff;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-size: 30px;
    padding: 100px;
    border-bottom: solid 1px #eeeeee;
}
.main_contents_title {
    color: #f2f7ff;
    background-color: #1abc9c;
    padding: 50px;
    /*margin: 50px 100px 0px 100px;*/
}



.main-tile {
    padding: 50px;
    margin: 25px;
}
.main_contents {
    color: #f2f7ff;
}
.main_contents_1 {
    background-color: #e74c3c;
}
.main_contents_2 {
    background-color: #3498db;
}
.main_contents_3 {
    background-color: #f1c40f;
}
.main_contents_4 {
    background-color: #2ecc71;
}


.f-grid {
    display: flex;
    height: auto;
    width: 100%;
    flex-flow: row wrap;
}
.f-grid-item {
    flex: 1 0 0;
    width: 0px;
    height: auto;
}
@media (max-width: 900px) {
    .f-grid-item {
        flex: 0 1 100%;
        width: auto;
    }
}





.footer {
    color: #f2f7ff;
    background-color: #1abc9c;
    border-top: solid 1px #eeeeee;
    height: 10em;
    padding: 50px;
    text-align: right;
    clear: left;
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;

    /*
    width: 100%;
    */
    height: 1em;
    padding: 2em;
    background-color: #212529;
    color: #868e96;

    font-size: 0.7em;
}
.bottom > div > span + span {
    margin-left: 2em;
}


