.rapper{
    position: relative;
    top: 55px
}

.main-tile {
    padding: 50px;
    margin: 25px;
}
.main_contents {
    color: #f2f7ff;
}
.main_contents_1 {
    background-color: #e74c3c;
}
.main_contents_2 {
    background-color: #3498db;
}
.main_contents_3 {
    background-color: #f1c40f;
}
.main_contents_4 {
    background-color: #2ecc71;
}

.f-grid {
    display: flex;
    height: auto;
    width: 100%;
    flex-flow: row wrap;
}
.f-grid-item {
    flex: 1 0 0;
    width: 0px;
    height: auto;
}
@media (max-width: 900px) {
    .f-grid-item {
        flex: 0 1 100%;
        width: auto;
    }
}

