table{
    table-layout: fixed;
    width: 100vw;
    height: 100vh;
    overflow:scroll;
    color: white;
    background-color: rgba(20, 20, 20, 0.774);    
}
table:hover{
}
a{
    text-decoration: none;
    color: white;
}
.item:focus{
    background-color: rgb(167, 167, 243);
}

td{
    vertical-align: top;
}
.run{
    display: inline-block;
    padding: 0.2em 0.5em;
    text-decoration: none;
    background: #f7f7f7;
    color: green;
    font-weight: bold;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.29);
}
.run:active{
    transform: translateY(0.5px);
}