.boards_body{
    font-size: 16px;
    font-family: "Segoe UI";
}

.boards_date{
    display: inline-block;
    font-size: 10px;
}

.boards_auth{
    text-align: right;
}

.boards_line{
    border-right: 0.1px solid black;
    padding: 5px 10px;
    width: 3vw;
}

.boards_head{
    font-size: 8px;
    padding: 5px 10px;
    font-weight: normal
}

.boards_title{
    width: 50vw;
    text-align: left;
    padding-left: 10px;
    position: relative;
    top: 5px
}

.board_cap{
    font-size: 8px;
}

.board_type{
    width: 3vw;
    display: block;
    font-size: 8px;
    background-color: rgb(174, 231, 160)
}


.boards_search-textarea{
    resize: none;
    outline: 0px;
    width: 30vw;
    height: 5vh;
}

.boards_search-button{
    height: 6vh;
}

.boards_search-select{
    outline: 0px;
    width: 7vw;
    height: 6vh;
}

.loading{
    position: relative;
    top: 50vh
}