.main {
  height: 100%;
}
.error-code {
  font-size: 5em;
  color: darkcyan;
  text-align: center;
}
.back {
  height: 100vh;
  width: 100%;
  background: linear-gradient(145deg, #00c1da, #003bca);

  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5em 0;
}

