.body{
    height:100%;
    width:100%;
    color:black;
    background-color:#f2f7ff;
}

.tech_test{
    display: inline-block;
    background-color: blue;
    animation-duration: 2s;
    animation-name: fadein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.Tech_editor{
    height:20%;
    width:50%;
    text-align:center;
}

.submit{
    text-align:right;
    margin-top:5.5%;
}


/*
fade out animation
*/
@keyframes fadeout{
    0%{ opacity: 1; }
    100%{ opacity: 0;}
}

/*
fade in animation
*/
@keyframes fadein{
    0%{ opacity: 0; }
    100%{ opacity: 1;}
}