.xterm-viewport {
  scrollbar-width: thin;
  scrollbar-color: #666 rgba(0, 0, 0, 0);
}
.xterm-viewport::-webkit-scrollbar {
  width: 5px;
}
.xterm-viewport::-webkit-scrollbar-thumb {
  background: #666; 
}
