

.window-tablist {
  display: flex;
  overflow: auto hidden;
  height: 2em;
  background-color: rgb(37, 37, 38);
}
.window-tab {
  display: flex;
  border-radius: 50px 50px 0 0;
  /*border: 0.1rem solid;*/
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  height: 2em;
  line-height: 2em;
  padding-left: 0.3em;
  cursor: pointer;
}
.window-tab-image {
  width: 1.6em;
  margin-right: 0.2em;
  background-size: 1.6em;
  background-position: 0px center;
  background-repeat: no-repeat;
}
.window-tab-close {
  height: 1em;
  width: 1em;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.428 8L12 10.573 10.572 12 8 9.428 5.428 12 4 10.573 6.572 8 4 5.428 5.427 4 8 6.572 10.573 4 12 5.428 9.428 8z' fill='%23E8E8E8'/%3E%3C/svg%3E") 50% no-repeat;
  background-size: 1em;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
.window-content {
  text-align: left;
}