
.main {
    font-family: "Segoe UI";
}

/* header */
.header {
    padding: 2em 5% 1em 5%;
}
.title-container {
    font-size: 1.5em;
    text-align: center;
}
.option-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    
    min-height: 1.5em;
}
.search-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    padding: 0.5em 2em;
}
.search-box-container {
    font-size: 1.5em;

    position: relative;
    margin: 0 1em;
    
    display: flex;
    align-items: center;
}
.search-box {
    font-size: 1em;
    padding: 0.3em 1.5em 0.3em 0.5em;

    outline-color: var(--main-color);
    border: 1px solid var(--light-color);
    border-radius: 0.2em;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.search-box-icon {
    position: absolute;
    right: 0.5em;
    width: 1em;
    height: 1em;

    
    display: flex;
    vertical-align: middle;
    cursor: pointer;
}
.search-box-icon > svg {
    width: 1em;
    height: 1em;

    vertical-align: middle;
}
.search-btn {
    outline-color: var(--main-color);
}
.search-dropdown {
    outline-color: var(--main-color);
    font-size: 0.8em;
}

/* container */
.container {
    display: flex;
    padding: 0 15%;
}
.ad-container{
    min-height: 100%;
}






