.main {
  position: relative;
  height: 100%;
}

.slides-container {
  position: absolute;
  height: 100%;
  width: 50em;
  z-index: 5;
  background-color: white;
}


.editor-container {
  display: flex;
  line-height: 120%;
  font-size: 0.6em;
  color: #cccccc;
  height: 100%;
  width: 100%;
}
.dirtree-container {
  flex: 0 0 auto;
  width: 200px;
  overflow: hidden auto;
  border-right: 1px solid #666666;
}
.textditor-container {
  
  flex: 1 1 auto;
  height: 100%;
  width: 100%;   
}

