:root {
    --unit: 1em;
}

.main {
    font-family:"arial black,Yu Gothic";
    margin-left: calc(--unit * 3);
    margin-right: calc(--unit * 3);
    background-color:"#f2f7ff";
}
.password_error{
    outline-color: red
}

.paper {
    margin-top: calc(--unit * 5);
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    padding: calc(--unit * 2) calc(--unit * 3) calc(--unit * 3);
}
.signup {
    color:"white";
    background-color:"#1abc9c";
    width:"100%";
    text-align:"center";
    padding:"5px";
    font-size: 20;
}
.form {
    width: '100%';
    margin-top: --unit;
}
.submit {
    margin-top: calc(--unit * 3);
    background-color:"#1abc9c";
}
