
.main {
    text-align: center;
    font-family: arial black,Yu Gothic;
    background-color: #f2f7ff;
  
    min-height: 100%;
  
    padding: 3em 1em;
    box-sizing: border-box;
    width: 100%;
  }
  
  .top_logo {
    width: 100%;
    height: auto;
  }
  .logo_img {
    width: 5em;
    height: 5em;
  }
  .logo_title {
    font-family: arial black,Yu Gothic;
    color: var(--main-color);
    text-align: center;
    margin: auto;
    height: auto;
  }
  
  .create_form{
    margin: 0 auto;
    max-width: 30em;
    padding: 2em 0;
  }
  .create_form input, .create_form select {
    background: inherit;
    border: 1px solid var(--main-color);
  }
  .form_layout{
    padding: 1em;
    margin: auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid #1abc9c60;
  
    background-color: white;
  }
  
  .form_logo{
    display: block;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 0.5em;
  }
  .form_title{
    display: block;
    text-align: center;
    font-size: 25px;
  }
  
  
  .form_layout > div{
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
  
  
  .form_layout > div  > div + div{
    text-align: center;
  }
  
  .form_input_container {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  
    font-size: 1.3em;
  }
  .form_input {
    border-radius: 0.2em;
    outline: none;
    border: 1.5px solid var(--main-color);
    
    height: 1.8em;
    max-width: 13em;
    width: 100%;
    box-sizing: border-box;
  
    padding: 0 0.6em;
  
    font-size: 1em;

    margin-top: 0.5em;
  }
  
  
  
  .form_btn {
    color: white;
    flex: 0 0 auto;
  
    border-radius: 0.2em;
    background-color: var(--main-color);
    cursor: pointer;
  
    height: 1.8em;
    max-width: 13em;
    width: 100%;
    box-sizing: border-box;
  
    margin-top: 2em;
  
    text-align: center;
  }
  
  .form_btn:active{
    background-color: #28ddb9;
  }
  
  
  .form_bottom_controls {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    padding: 0 1em;
    box-sizing: border-box;
  }
  
  .form_submit{
  
  }
  
  .form_cancel{
    background-color: transparent !important;
    color: var(--dark-color) !important;
    border: 1px solid var(--main-color) !important;
  }
  
  .password_error{
    outline-color: red
  }
  
  .paper {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 3em 3em;
  }
  .signup {
    color: white;
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 20;
  }
  .form {
    width: 100%;
    margin-top: 1em;
  }
  .submit {
    margin-top: 3em;
    background-color: var(--main-color);
  }
  