.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  
  overflow: hidden;
}


/* header */
.header {
  flex: 0 0 auto;
  width: 100%;
  padding: 0.2em;

  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.course-name {
  height: 1.5em;
  margin-left: 0.5em;

  font-size: 2em;
}
.chapters-btn {
  box-shadow: 0 1px 3px black;
  border-radius: 1em;
  padding: 0.5em 1em;
}
.discard-btn {

}
.preview-btn {

}
.save-btn {

}
.header-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  margin: 0 2em;
}
.header-controls > div {
  height: 1.5em;
  padding: 0.5em;
  margin: 0 0.2em;

  background-color: darkcyan;
  border-radius: 10%;
  box-shadow: 0 1px 1px black;
}
.header-controls > div > span {
  vertical-align: middle;
}

/* tab */
.tablist {
  flex: 0 0 auto;
  justify-content: flex-start;
}


/* main */


/* slides */
.slides-main-container {
  display: flex;
  flex-flow: row nowrap;

  flex: 1 1 auto;
  width: 100%;
  height: auto;
}
.slides-main-container-2 {
  display: flex;
  flex-flow: column nowrap;

  flex: 1 1 auto;
  width: 100%;
  height: auto;
}
.slides-main {
  flex: 1 1 auto;
  width: auto;
  height: 0px;
}
.slides-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  
  overflow: scroll hidden;
}
.slides-header {

}

/* slides: side */
.slides-side {
  flex: 0 0 100px;
  width: auto;
  height: auto;
  
  overflow: hidden scroll;
}
.slides-side-element {
  position: absolute;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.slides-side-element:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* file editor */
