.main {
  height: 100%;
  color: inherit;

  font-size: 1.5em;

  font-family: arial black,Yu Gothic;
}

.header {
  font-size: 3em;
  text-align: center;

  height: 3em;
  padding: 0.5em;

  color: white;
  background: linear-gradient(var(--dark-color), var(--light-color));
}
.header > div {
  height: 100%;
  width: 100%;
}

.huge-panel {
  width: 100%;
  height: 100%;
  background-color: #6efcb9;

  text-align: center;
  padding: 1em;

  box-sizing: border-box;
}


.footer {
  font-size: 1.5em;
  text-align: center;

  height: 3em;
  padding: 0.5em 3em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}
.footer > span {
  padding: 0.5em;

  border-radius: 3em;
  background: white;
  border: 0.1em solid var(--main-color);
  color: var(--dark-blue);

  line-height: 1em;
  cursor: pointer;
}


/* 飛び出し */
.slide-block-container {
  color: var(--dark-darker);
}
.slide-block-left, .slide-block-right {
  position: relative;
  display: flex;
  align-items: center;

  min-height: 30em;
  overflow: hidden;
}
.slide-block-left {
  justify-content: flex-start;
}
.slide-block-right {
  justify-content: flex-end;
}

.slide-block-body {
  width: 50%;
  height: 100%;
  padding: 2em;
  z-index: 1;
}
.slide-block-title {
  font-size: 2em;
  font-weight: bold;
}
.slide-block-desc {
  color: var(--dark-darker);
}

.slide-block-bg {
  position: absolute;
  left: 60%;
  transform: rotate(30deg);
  background: linear-gradient(var(--main-color), var(--dark-blue));

  width: 100%;
  height: 400%;
}
.slide-block-bg2 {
  position: absolute;
  right: 60%;
  transform: rotate(30deg);
  background: linear-gradient(var(--main-color), var(--dark-blue));

  width: 100%;
  height: 400%;
}
.slide-block-bg3 {
  position: absolute;
  left: 60%;
  transform: rotate(0deg);
  background: linear-gradient(var(--main-color), var(--dark-blue));

  width: 100%;
  height: 400%;
}


