
.main {
    font-family: "Segoe UI";
}

/* header */
.header {
    padding: 2em 5% 3em 5%;
}
.title-container {
    font-size: 1.5em;
    text-align: center;
}
.option-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;

    min-height: 1.5em;
}
.search-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    padding: 0.5em 2em;
}
.search-box-container {
    font-size: 1.5em;

    position: relative;
    margin: 0 1em;
    
    display: flex;
    align-items: center;
}
.search-box {
    font-size: 1em;
    padding: 0.3em 1.5em 0.3em 0.5em;

    outline-color: var(--main-color);
    border: 1px solid var(--light-color);
    border-radius: 0.2em;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.search-box-icon {
    position: absolute;
    right: 0.5em;
    width: 1em;
    height: 1em;

    
    display: flex;
    vertical-align: middle;
    cursor: pointer;
}
.search-box-icon > svg {
    width: 1em;
    height: 1em;

    vertical-align: middle;
}
.search-btn {
    outline-color: var(--main-color);
}
.search-dropdown {
    outline-color: var(--main-color);
    font-size: 0.8em;
}

/* container */
.container {
    display: flex;
}
.ad-container{
    min-height: 100%;
}

/* container: course */
.course-container {
    flex: 1 1 auto;
    padding: 0 5%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
}
.course-item {
    flex: 1 1 100%;
    box-sizing: border-box;

    display: flex;

    padding: 0.5em 1.5em;
    margin-bottom: 1.2em;
    border: 1px solid var(--main-color);

    font-size: 1.2em;
}
/*
.course-item + .course-item + .course-item {
    border-top: 1px solid var(--light-color);
}
*/

.course-item-score {
    text-align: center;
}
.course-item-score > div > * {
    vertical-align: middle;
}

.course-item-main {
    flex: 1 1 auto;
    margin-left: 1em;
}
.course-item-top {
    flex: 1 1 auto;
    
    display: flex;
}
.course-item-bottom {
    flex: 1 1 auto;
    
    display: flex;
}

.course-item-title {
    flex: 1 1 auto;

    font-weight: bold;
    font-size: 1.2em;
}
.course-item-desc {
    flex: 1 1 auto;
    font-size: 0.9em;
}

.course-item-user {
    display: flex;
    align-items: center;

    font-size: 0.9em;
    height: 2em;
}
.course-item-user-avatar {
    border-radius: 100%;
    background-color: violet;

    width: 3em;
    height: 3em;

    margin-left: 0.8em;
}
.course-item-user-name {
    flex: 1 1 auto;
    color: var(--main-color);
}
.course-item-date {
    color: var(--nice-border-color);
    font-size: 0.8em;
}








@media (min-width: 1300px) {
    .course-container {
        padding: 0 15%;
    }
}



/* pagination */
.pagination-container {
    padding: 3em 0;
}


