/* CSS reset */
body {
    margin: 0;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

/* tweak */
[draggable=true] {
    -khtml-user-drag: element;
}

/* root > appFrame > appBar + content */
.pageContainer {
    position: fixed;
    width: 100%;
    height: 100%;
}
.page {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.topBar {
    flex: 0 0 auto;
    width: 100%;
}
.content {
    flex: 1 1 0;
    width: 100%;
    overflow: hidden;
}

/* mobile menu */
.mobileMenu {
    position: fixed;
    height: 100%;
    width: -20px;
    top: 0px;
    left: -2000px;
    z-index: 100000;
    transition: left 0.5s;
}
.mobileMenuBg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: rgba(0,0,0,0.2);
}


/* BackGround player*/
.hide{
    visibility: hidden;
    display: none;

}

.player{
    position: -webkit-sticky;
    position: sticky;
}

/* My drawer*/
.test_id{
    position: fixed;
    background-color: blue;
    transition-duration: 0.5s;
    z-index: 1;
    top:49px
}