/* CSS reset */
body {
    margin: 0;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

/* custom values */
:root {
    --main-color: #1abc9c;
    --dark-color: #0f7561;
    --light-color: #b0f9eb;
    --nice-border-color: #666666;
    --nice-text-color: #cccccc;
    --bg-color: white;/*#f2f7ff;*/
    --gray-color: #868e96;

    --dark-lighter: #3c3c3c;
    --dark-darker: #252526;
    --dark-blue: #094771;
}

/* tweak */
[draggable=true] {
    -khtml-user-drag: element;
}

/* global */
::selection {
    color: inherit;
    background: #1abc9c70;
}

/* App */
.pageContainer {
    position: fixed;
    width: 100%;
    height: 100%;

    color: var(--dark-color);
    background-color: var(--bg-color);
}
.page {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.topBar {
    flex: 0 0 auto;
    width: 100%;
}
.content {
    flex: 1 1 0;
    width: 100%;
}
.react-scrollbar > div + div {
    z-index: 2;
}

/* mobile menu */
.mobileMenu {
    position: fixed;
    height: 100%;
    width: -20px;
    top: 0px;
    left: -2000px;
    z-index: 100000;
    transition: left 0.5s;
}



/* BackGround player*/
.hide{
    visibility: hidden;
    display: none;

}

.player{
    position: -webkit-sticky;
    position: sticky;
}

